<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>My App</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.17/dist/tailwind.min.css" rel="stylesheet"/>
  </head>
  <br>
  <body class="bg-gray-100">
    <div class="container mx-auto px-4">
      <section class="flex justify-center items-center">
        <div class="max-w-sm w-full rounded-lg bg-white p-6 shadow-lg">
          <form method="post">
            <div class="relative mb-4">
              <input type="text" placeholder="Food item Name" id="food" name="food" class="block w-full py-3 px-4 rounded-lg shadow-sm bg-white text-gray-900 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-800 focus:border-transparent"/>
            </div>
            <button type="submit" class="inline-block w-full py-3 px-4 rounded-lg bg-gray-800 text-white font-bold text-sm uppercase shadow-lg hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-800 focus:ring-opacity-50">Get details</button>
          </form>
        </div>
      </section>
      {% if show %}
      <br>
      <section class="flex justify-center items-center">
        <div class="max-w-sm w-full rounded-lg bg-white p-6 shadow-lg">
          <h3 class="text-lg font-bold text-gray-900 mb-4">{{food}}</h3>
          <ul class="mb-4">
            <li class="text-gray-700">{{unit}} - {{value}}</li>
            <li class="text-gray-700">Protein - {{protein}}</li>
          </ul>
          <form method="post" action="/addfood/?unit={{unit}}&food={{food}}&value={{value}}">{% csrf_token %}
            <button type="submit" class="w-full py-3 px-4 rounded-lg bg-gray-800 text-white font-bold text-sm uppercase shadow-lg hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-800 focus:ring-opacity-50">Add to diet</button>
          </form>
        </div>
      </section>
      {% endif %}
      {% if items %}
      <br>
      <section class="flex justify-center items-center">
        <div class="max-w-sm w-full rounded-lg bg-white p-6 shadow-lg">
          <h3 class="text-lg font-bold text-gray-900 mb-4">User Calorie Details</h3>
          <ul>
            {% for i in items %}
            <li class="text-gray-700">{{i.name}} - {{i.calorie}} cal.
              <form method="post" action="/removefood/?food_id={{i.id}}">{% csrf_token %}
                <button type="submit" class="w-full py-3 px-4 rounded-lg bg-gray-800 text-white font-bold text-sm uppercase shadow-lg hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-800 focus:ring-opacity-50">x</button>
              </form>
            </li>
            
            {% endfor %}
            <b><li class="text-gray-700">TOTAL- {{total}} cal.</li></b>
          </ul>
        </div>
      </section>
      {% endif %}
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>